

.container {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container:focus-visible {
  outline: none;
}