

.container {
  border-right: 1px solid var(--border-soft);
  width: 250px;
  height: 100%;
  background-color: var(--bg-sidebar);
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
