

.container {
  border-right: 2px solid var(--border-app);
  width: 250px;
  height: 100%;
  background-color: var(--bg-color1);
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
