

.container {
  border-right: 1px solid var(--border-color);
  width: 250px;
  height: 100%;
  background-color: var(--bg-color1);
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.border {
  width: 150px;
  height: 1px;
  border-bottom: 1px solid var(--border-color);
  margin: 50px 0;
}
