

.container {
  display: flex;
  height: 35px;
  flex-shrink: 0;
  border-radius: var(--radius-md);
}

.selected {
  border: var(--element-border-selected-sidebar);
}

.noSelected {
  border: var(--border-transparent);
}