

.container {
  display: flex;
  width: 100%;
  height: 35px;
  flex-shrink: 0;
}

.selected {
  border: var(--element-border-selected-sidebar);
}

.noSelected {
  border: var(--border-transparent);
}