

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 35px;
  flex-shrink: 0;
  transition: height 0.2s ease-out;
  border-radius: 3px;
}