

.container {
  display: flex;
  height: 35px;
  flex-shrink: 0;
  border-radius: var(--radius-md);
}

.selected {
  border: var(--board-border-selected);
  box-shadow: var(--board-shadow-selected);
}

.noSelected {
  border: var(--border-transparent);
  box-shadow: none;
}