


.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  color: #aaa;
  box-shadow: 
  0 2px 6px rgba(0, 0, 0, 0.6),
  0 1px 2px rgba(255, 255, 255, 0.05);
}


.board {
  position: absolute;
}

.search {
  position: relative;
  margin: 15px;
}

.filter {
  position: relative;
  margin: 15px;
}

