

.container {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.closeButton,
.saveButton {
  width: 70px;
  padding: 6px 0;
  background-color: var(--bg-color1);
  border-radius: 5px;
  color: var(--font-color1);
  border: none;
  font-size: 14px;
}

.closeButton:hover,
.saveButton:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #666;
}

.closeButton:hover {
  background-color: rgb(15, 34, 57);
}

.saveButton:hover {
  background-color: rgb(15, 39, 7);
}

.closeButton:focus {
  background-color: rgb(15, 34, 57);
  box-shadow: 0 0 4px #666;
  outline: none;
}

.saveButton:focus {
  background-color: rgb(15, 39, 7);
  box-shadow: 0 0 4px #666;
  outline: none;
}