

.container {
  position: absolute;
  top: 60px;
  right: -80px;
  color: var(--font-secondary);
  border-radius: var(--radius-md);
  border: var(--border-soft);
  transition: opacity 0.2s ease;
  width: 220px;
  z-index: 2;
  box-shadow: var(--modal-boxshadow);
}

.container li {
  min-width: 1px;
  text-align: left;
  padding: 10px 20px;
  list-style: none;
  background-color: var(--bg-header);
  font-size: 14px;
  cursor: pointer;
}

.container li:first-child {
  border-radius: 5px 5px 0 0;
}

.container li:last-child {
  border-radius: 0 0 5px 5px;
}

.container li:hover {
  background-color: var(--board-bg-hover);
}


.showMenu {
  opacity: 1;
  pointerEvents: auto
}

.hideMenu {
  opacity: 0;
  pointerEvents: none;
}