

.container {
  width: 100%;
}

.heading {
  color: var(--font-color4);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.boardsList p {
  font-size: 14px;
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 3px;
  color: var(--font-color2);
}

.createNewBoard p:hover {
  cursor: pointer;
  background-color: var(--hover-color1);
}

.createNewBoard p {
  font-size: 14px;
  font-weight: bold;
  color: var(--font-color1);
  padding: 5px 0 5px 20px;
  border-radius: 5px;
  margin-top: 5px;
}

.boardsList p:hover {
  cursor: pointer;
  background-color: var(--hover-color2);
  color: var(--font-color3);
}
