


.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
  z-index: 0;
  padding: 5px;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.header {
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: var(--font-secondary);
}

.body {
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5px;
}

.buttons {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.deleteButton {
  margin-top: 60px;
}