


.container {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: var(--sticker-color1);
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: grab;
  box-shadow: 
  0 2px 6px rgba(0, 0, 0, 0.6),
  0 -2px 2px rgba(255, 255, 255, 0.05);
}


