

.container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  user-select: none;
  position: relative;
}

.heading {
  width: 100%;
  height: 60px;
  background-color: var(--bg-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

.heading span {
  color: var(--font-color4);
  font-weight: bold;
  font-size: 20px;
}

.board {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color2);
  position: relative;
}

.filterBoard {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color2);
  display: flex;
  flex-wrap: wrap;
}


