

.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  color: #aaa;
  position: absolute;
  box-shadow: 
  0 2px 6px rgba(0, 0, 0, 0.6),
  0 1px 2px rgba(255, 255, 255, 0.05);
  transition: transform 0.2s ease;
}


