

.container {
  width: 100%;
  min-height: 0;  
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 20px;
}

.container:focus-visible {
  outline: none;
}