


.container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color2);
}

.board {
  position: relative; 
}

.search {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}