

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 170px;
  padding: 6px;
}

.oneColor {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: var(--radius-md);
  border: var(--element-border-soft);
  transition: var(--transition);
}

.oneColor:hover {
  box-shadow: var(--sticker-button-boxshadow);
  border: var(--border-partly-transparent-focus);
}