

.container {
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.container span {
  font-size: 12px;
  color: var(--font-color6);
  font-style: italic;
}