


.container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: var(--transition);
}

.container svg {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--icon-color);
  transition: var(--transition);
}

.container:hover svg {
  color: var(--icon-color-hover-normal);
}

.container:hover {
  border-bottom: var(--border-bottom-sticker-footer);
}

.selected {
  background-color: var(--bg-sticker-title);
}

.noSelected {
  background-color: var(--bg-sticker-footer);
}