


.container {
  width: 100%;
}

.container input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  color: #000;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  background-color: rgba(0,0,0,0.05);
}

