


.container {
  width: 100%;
}

.input input, 
.span span {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  color: #000;
  font-size: 14px;
  font-style: italic;
}

.span span {
  font-weight: 600;
}

.input input {
  background-color: rgba(0,0,0,0.1);
}
