

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.container img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.container:hover {
  background-color: var(--hover-color1);
  cursor: pointer;
}