

.container {
  width: 150px;
  display: flex;
  flex-direction: column;
}


.container input {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: var(--font-color1);
  margin-bottom: 10px;
}

.container input:focus {
  box-shadow: 0 2px 2px #555, 0 -2px 2px #555;
}
