

.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

.container span {
  font-size: 12px;
  color: var(--font-color6);
  font-style: italic;
}