

.container {
  display: flex;
  flex: 1;
  height: 15px;
  align-items: center;
  justify-content: end;
  padding-left: 70px;
}

.oneColor {
  cursor: pointer;
  box-shadow: 0 0 1px var(--border-color2);
  width: 17px;
  height: 17px;
  margin: 2px;
}

.oneColor:hover {
  transform: scale(1.3);
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid var(--border-color2);
  transition: transform 0.1s ease;
}