

.container {
  width: 100%;
  text-align: center;
}

.container span {
  color: var(--font-placeholder);
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.08em;
}