

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: 1;
  user-select: none;
}

.content {
  width: 500px;
  border: 1px solid var(--border-color);
  background-color: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 5px;
}

.messages {
  color: var(--font-color1);
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 70px;
}

.button {
  width: 100px;
  padding: 10px 0;
  background-color: var(--bg-color2);
  border-radius: 3px;
  color: var(--font-color1);
  border: none;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #666;
  background-color: rgb(57, 15, 15);
} 