

.container {
  display: flex;
  align-items: start;
  width: 180px;
  height: 30px;
}

.label {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--font-partly-transparent);
  font-size: 14px;
  padding-right: 10px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: start;
  width: auto;
  height: 100%;
  background-color: transparent;
  border-radius: var(--radius-md);
  font-size: 14px;
  outline: none;
  color: var(--font-primary);
  transition: var(--transition);
  border: var(--element-border-partly-transparent);
}

.inputs span {
  color: var(--font-partly-transparent);
}

.inputs:focus-within {
  border: var(--element-border-partly-transparent-focus);
}

