

.container {
  width: 100%;
  flex: 1;
}

.textarea {
  width: 100%;
  height: 100%;
}

.textarea textarea,
.span span {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  font-size: 14px;
  color: var(--font-color5);
}

.shadowTopBottom {
  box-shadow:
  inset 0 4px 6px -4px rgba(255, 255, 255, 0.1),
  inset 0 -4px 6px -4px rgba(255, 255, 255, 0.1);
}

.shadowTop{
  box-shadow: inset 0 4px 6px -4px rgba(255, 255, 255, 0.1),
}

.shadowBottom {
  box-shadow: inset 0 -4px 6px -4px rgba(255, 255, 255, 0.1);
}

