

.container {
  width: 100%;
  flex: 1;
}

.textarea {
  width: 100%;
  height: 100%;
}

.textarea textarea,
.span span {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  font-size: 14px;
  color: var(--font-color5);
}

