

.container {
  position: absolute;
  transform: rotate(-100grad);
  top: 110px;
  left: -120px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-checked-panel);
  border-radius: 5px;
  transition: left 0.3s ease, opacity 0.1s ease;
}

.container span {
  color: var(--font-color4);
}