

.container {
  position: absolute;
  transform: rotate(-100grad);
  top: 110px;
  left: -120px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-checked-panel);
  border-radius: var(--radius-md);
  transition: left 0.3s ease, opacity 0.1s ease;
  border: var(--element-border);
}

.container span {
  color: var(--font-secondary);
  font-size: 14px;
}