

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container span {
  font-size: 14px;
  color: var(--font-color5);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(255,255,255,0.2);
  border: 1px solid transparent;
  transition: background-color 0.1s ease, border 0.3s ease;
}

.container span:hover,
.container span:focus {
  background-color: rgb(55, 9, 9);
  border: 1px solid rgba(255,255,255,0.2);
}


