
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.image {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image img {
  width: 25px;
  height: 25px;
  transition: transform 0.1s ease;
}

.image img:hover {
  transform: scale(1.2);
}


