


.container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 22px;
  white-space: pre;
  padding: 0 10px;
}

.date, 
.time, 
.oneDot {
  width: 100%;
  font-size: 13px;
  color: var(--font-sticker-secondary);
  font-weight: 400;
}

.oneDot {
  margin: 0 8px;
}

.twoDots {
  margin: 0 3px 0 3px;
}

