


.container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 20px;
  white-space: pre;
}

.container span {
  width: 100%;
  padding: 0 10px;
  font-size: 13px;
  color: var(--font-secondary);
}


