


.container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 22px;
  white-space: pre;
  padding: 0 10px;
}

.container span {
  width: 100%;
  font-size: 13px;
  color: var(--font-sticker-secondary);
  font-weight: 400;
}


