


.container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 20px;
  white-space: pre;
  padding: 0 10px;
  padding-bottom: 3px;
}

.date, 
.time, 
.oneDot {
  width: 100%;
  font-size: 13px;
  color: var(--font-sticker-primary);
}

.oneDot {
  margin: 0 8px;
  color: var(--font-sticker-secondary);
}

.twoDots {
  margin: 0 3px 0 3px;
}

