



.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-color: var(--sticker-color5);
}

.content {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.1);
}







