




.container {
  width: 100%;
}

.container input {
  width: 100%;
  height: 35px;
  color: var(--font-color2);
  padding: 5px 0 5px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 3px;
}

.container input:focus {
  box-shadow: 0 2px 2px #555, 0 -2px 2px #555;
}