




.container {
  width: 100%;
}

.container input {
  width: 100%;
  height: 35px;
  color: var(--font-color2);
  padding: 5px 0 5px 10px;
  border: none;
  outline: none;
  border-radius: var(--radius-md);
  background-color: transparent;
}

.container input:focus {
  border: var(--input-border-focus);
  box-shadow: var(--input-shadow-focus);
}