

.container {
  position: absolute;
  top: 55px;
  right: 0px;
  color: var(--font-secondary);
  border-radius: var(--radius-sm);
  border: var(--element-border-soft);
  transition: var(--transition);
  width: 190px;
  z-index: 2;
  box-shadow: var(--modal-boxshadow);
  background-color: var(--bg-header);
}

.container li {
  text-align: start;
  padding: 10px 10px 10px 50px;
  list-style: none;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.container li:first-child {
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}

.container li:last-child {
  border-radius: 0 0 var(--radius-sm) var(--radius-sm);
}

.container li:hover {
  background-color: var(--element-bg-hover);
}


.showMenu {
  opacity: 1;
  pointer-events: auto
}

.hideMenu {
  opacity: 0;
  pointer-events: none;
}