



.container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  font-size: 14px;
  color: var(--font-secondary);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius-md); 
  border: var(--element-border);
}

.container:hover,
.container:focus {
  background-color: var(--element-bg-hover);
  color: var(--font-primary);
  border: var(--element-border-selected-header);
}

.container:focus-visible {
  outline: none;
}

.selected {
  border: var(--element-border-selected-header);
  color: var(--font-primary);
  background-color: var(--element-bg-selected);
}
