

.container {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
  user-select: none;
}

.container img {
  width: 100%;
  height: 100%;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.2);
}