



.container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: border 0.2s ease;
}

.container button {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.container img {
  width: 20px;
  height: 20px;
}

.container:hover,
.container:focus {
  border-bottom: 2px solid rgba(255,255,255,0.2);
}



