


.container {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-sticker-title);
}

.dateTime {
  box-shadow: var(--sticker-header-boxshadow-with-date-time);
}

.noDateTime {
  box-shadow: var(--sticker-header-boxshadow-without-date-time);
  border-bottom: var(--border-bottom-sticker-header);
}