

.container {
  width: 210px;
  border-left: 1px solid var(--border-app);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 1;
  transition: right 0.3s ease;
}

