

.container {
  width: 210px;
  background-color: var(--bg-checked-panel);
  border-left: var(--app-border-soft);
  padding: 20px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: right 0.3s ease;
  z-index: 1000000;
}

