


.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
  z-index: 0;
}

.content {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0,0,0,0.1);
}

.content>div  {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}




