

.container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.container:hover {
  background-color: var(--board-bg-hover);
}
