



.input {
  width: 100%;
  height: 100%;
  color: var(--font-color2);
  padding: 5px 0 5px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 3px;
}

.input:focus {
  box-shadow: 0 2px 2px #555, 0 -2px 2px #555;
}