



.container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  position: relative;
  background-color: rgba(0,0,0,0.35);
}

.container img {
  width: 20px;
  height: 20px;
}

.container:hover,
.container:focus {
  background-color: rgba(0,0,0,0.1);
}