


.container {
  width: 100%;
}

.container input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  color: var(--font-sticker-primary);
  font-size: 14px;
  font-weight: 500;
}


.container input::placeholder {
  color: var(--font-partly-transparent);
}

