


.container {
  width: 100%;
  height: 100%;
}

.container input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--font-sticker-primary);
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
  border-left: 3px solid transparent;
  transition: var(--transition);
}

.container input::placeholder {
  color: var(--font-partly-transparent);
}

.container input:focus {
  border-left: var(--border-left-sticker-focus);
}

