

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 40px;
  margin-right: 5px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
  color: var(--font-color2);
}