

.container {
  width: 100%;
  position: absolute;
  top: -14px;
  left: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  cursor: grab;
  transition: var(--transition);
  user-select: none;
  z-index: 1;
  background-color: transparent;
  border: none;
}

.container svg {
  transition: var(--transition);
  margin-top: 4px;
  cursor: grab !important;
}

