

.container {
  width: 100%;
  height: 30px;
  position: absolute;
  top: -20px;
  left: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  cursor: grab;
  transition: transform 0.1s ease;
  user-select: none;
  z-index: 1;
}

.container svg {
  color: var(--icon-color);
  transition: var(--transition);
  margin-top: 2px;
}

.container:hover svg {
  color: var(--icon-color-hover-normal);
}