


.container {
  width: 40px;
  height: 100%;
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.1s ease, opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 25px;
  height: 25px;
}

.container:hover {
  transform: scale(1.2);
}