

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 0 0 20px;
  border-radius: 3px;
}

.container:hover {
  cursor: pointer;
  background-color: var(--hover-color2);
}

.container span {
  font-size: 14px;
  background-color: transparent;
  color: var(--font-color2);
}

.container:hover span {
  color: var(--font-color3);
}



.editAndDots {
  display: flex;
  align-items: center;
  justify-content: center;
}
