

.container {
  margin-top: 10px;
  font-size: 14px;
}


.container p {
  font-weight: bold;
  color: var(--font-color1);
  padding: 5px 0 5px 20px;
  border-radius: 5px;
}

.container p:hover {
  cursor: pointer;
  background-color: var(--hover-color1);
}

.container input {
  width: 100%;
  color: var(--font-color2);
  padding: 5px 0 5px 20px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 5px;
}

.container input:focus {
  box-shadow: 0 2px 2px #555, 0 -2px 2px #555;
}
