

.container {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 20px;
  height: 20px;
}