

.container {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container svg {
  color: var(--font-secondary);
}