

.filter {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
}

.filter input {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  font-size: var(--font-size);
  outline: none;
  background-color: var(--bg-color1);
  color: var(--font-color1);
}

.filter input:focus {
  box-shadow: 0 0 4px var(--border-color);
}