


.container {
  position: absolute;
  top: 90px;
  left: -50px;
  color: var(--font-color1);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  transition: opacity 0.4s ease;
  width: 150px;
}

.container li {
  padding: 10px 10px 10px 20px;
  list-style: none;
  background-color: var(--bg-color3);
  font-size: 14px;
  width: 100%;
}

.container li:first-child {
  border-radius: 5px 5px 0 0;
}

.container li:last-child {
  border-radius: 0 0 5px 5px;
}

.container li:hover {
  background-color: var(--hover-color3);
}