

.container {
  height: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.user,
.settings {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  background-color: transparent;
  transition: background-color 0.2s ease;
  position: relative;
  z-index: 1;
}

.user:hover,
.settings:hover {
  background-color: var(--hover-color1);
  cursor: pointer;
}

.user {
  margin-right: 40px;
}

