


.container {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;  
  justify-content: center;
  border-radius: 0;
  border: 1px solid transparent;
  transition: border 0.3s ease;
}

.container img {
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: none;
  color: var(--font-color1);
  font-size: 14px;
  cursor: pointer;
}

.container:hover,
.container:focus {
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 5px;
}