.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-color: var(--sticker-color5);
}

.content {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.1);
}



.inputs {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.inputs label {
  font-size: 12px;
  margin-bottom: 5px;
}

.inputs input {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: var(--font-color1);
  margin-bottom: 10px;
}

.inputs input:focus {
  box-shadow: 0 2px 2px #555, 0 -2px 2px #555;
}





.content span {
  margin: 20px 0;
  font-size: 14px;
}



.buttons {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.closeButton,
.saveButton {
  width: 70px;
  padding: 7px 0;
  background-color: var(--bg-color1);
  border-radius: 5px;
  color: var(--font-color1);
  border: none;
  font-size: 14px;
}

.closeButton:hover,
.saveButton:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #666;
}

.closeButton:hover {
  background-color: rgb(15, 34, 57);
}

.saveButton:hover {
  background-color: rgb(15, 39, 7);
}

.closeButton:focus {
  background-color: rgb(15, 34, 57);
  box-shadow: 0 0 4px #666;
  outline: none;
}

.saveButton:focus {
  background-color: rgb(15, 39, 7);
  box-shadow: 0 0 4px #666;
  outline: none;
}