


.container {
  width: 250px;
  min-height: 215px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: var(--bg-color1); */
  background-color: rgba(0,0,0,0.5);
}

.inputs {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.inputs label {
  font-size: 12px;
  margin-bottom: 5px;
}

.inputs input {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  font-size: 14px;
  outline: none;
  color: var(--font-color1);
  margin-bottom: 10px;

}

.inputs input:focus {
  box-shadow: 0 2px 2px #555, 0 -2px 2px #555;
}





.container span {
  margin-bottom: 10px;
  font-size: 14px;
}



.buttons {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.closeButton,
.saveButton {
  width: 70px;
  padding: 5px 0;
  background-color: var(--bg-color2);
  border-radius: 3px;
  color: var(--font-color1);
  border: none;
  font-size: 16px;
}

.closeButton:hover,
.saveButton:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #666;
}

.closeButton:hover {
  background-color: rgb(15, 34, 57);
}

.saveButton:hover {
  background-color: rgb(15, 39, 7);
}

.closeButton:focus {
  background-color: rgb(15, 34, 57);
  box-shadow: 0 0 4px #666;
  outline: none;
}

.saveButton:focus {
  background-color: rgb(15, 39, 7);
  box-shadow: 0 0 4px #666;
  outline: none;
}
