


.container {
  width: 40px;
  height: 100%;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container svg {
  transition: var(--transition);
  color: var(--font-secondary);
}

.container:hover svg {
  color: var(--font-primary);
}