


.container {
  width: 40px;
  height: 100%;
  transition: var(--transition);
}

.container input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  background-color: transparent;
  color: var(--font-modal);
  border-radius: var(--radius-sm);
  font-size: 14px;
}

.container input::placeholder {
  color: var(--font-partly-transparent);
}

