


.container {
  width: 40px;
  height: 100%;
  font-size: 14px;
  color: var(--font-color1);
  transition: border 0.3s ease;
}

.container input {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--font-color1);
  border-radius: 5px;
}

.container input:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.container input::placeholder {
  color: var(--font-color1);
  opacity: 0.3;
}

