


.container {
  width: 150px;
  height: 100%;
}

.container button,
.container input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  transition: var(--transition);
  border: none;
}

.container button {
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  background-color: transparent;
  color: var(--font-secondary);
  cursor: pointer;
  border-radius: var(--radius-md);
}

.container button:hover {
  background-color: var(--element-bg-hover);
  color: var(--font-primary);
}


.container input {
  font-size: 14px;
  padding-left: 20px;
  background-color: var(--element-bg-selected);
  color: var(--font-primary);
}

.container input:focus {
  border: var(--element-border);
  border: var(--element-border-selected-sidebar);
} 

.container input::placeholder {
  color: var(--font-placeholder);
}
