


.container {
  width: 100%;
  height: 100%;
}


.container > :first-child {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--font-secondary);
  outline: none;
  border-radius: var(--radius-md);
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.container > :first-child:focus {
  border: var(--input-border-focus);
  box-shadow: var(--input-shadow-focus);
  
}


.container span {
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  border: var(--input-border);
}

.container span:hover {
  background-color: var(--board-bg-hover-2);
  color: var(--font-primary);
}


.container input {
  padding-left: 20px;
  border: var(--border-transparent);
}

.container input::placeholder {
  color: var(--font-placeholder);
}