



.container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0 0 3px 3px;
  border-bottom: 3px solid transparent;
}

.container:hover {
  border-bottom: 3px solid var(--boardlist-close-color);
  transition: all 0.3s ease;
}

.container img {
  width: 13px;
  height: 13px;
}