

.header {
  background-color: var(--bg-color1);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 50px;
}