

.header {
  background-color: var(--bg-color1);
  width: 100%;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 50px;
  user-select: none;
  border-bottom: 2px solid var(--border-app);
}