

.header {
  background-color: var(--bg-header);
  width: 100%;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 50px;
  user-select: none;
  border-bottom: 3px solid var(--border-soft);
}