



.container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.container button {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border 0.3s ease;
}

.container img {
  width: 17px;
  height: 17px;
  margin-right: 7px;
}

.container span {
  color: var(--font-color4);
}

.container button:hover,
.container button:focus {
  border: 1px solid rgba(255,255,255,0.2);
}