


.container {
  width: 100%;
  height: 60px;
  background-color: var(--bg-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

.container span {
  color: var(--font-color4);
  font-weight: bold;
  font-size: 20px;
}