


.container {
  width: 100%;
  height: 60px;
  background-color: var(--bg-panel-header);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-soft);
  flex-shrink: 0;
  white-space: pre;
}

.container span {
  color: var(--font-color4);
  font-weight: bold;
  font-size: 20px;
}