

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--sticker-color1);
  box-shadow: var(--sticker-boxshadow);
  transition: width 0.2s ease, height 0.2s ease;
}

