

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--sticker-color1);
  color: #ddd;
  z-index: 1;
  box-shadow: 
  0 2px 6px rgba(0, 0, 0, 0.6),
  0 1px 2px rgba(255, 255, 255, 0.05);
  transition: width 0.2s ease, height 0.2s ease;
}

.container:hover {
  cursor: grab;
}