


.container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 30px;
  white-space: pre;
}

.container span {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: 14px;
  color: var(--font-sticker-secondary);
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.3);
}