


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  white-space: pre;
}

.container span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px 13px;
  font-size: 14px;
  color: var(--font-sticker-secondary);
  font-weight: 300;
  background-color: var(--bg-sticker-date);
}