

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: pre;
}

.dateTime {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.firstRow,
.secondRow {
  display: flex;
  width: 100%;
  height: 25px;
  background-color: var(--bg-sticker-date);
  padding: 0 13px;
}

.firstRow {
  align-items: end;
  padding-bottom: 1px;
}

.secondRow {
  align-items: start;
  padding-top: 1px;
  text-transform: uppercase;  
}



.date,
.time,
.oneDot {
  color: var(--font-sticker-primary);
  font-size: 14px;
}

.dayInWeek {
  color: var(--font-sticker-secondary);
  font-size: 12px;
}

.oneDot {
  color: var(--font-sticker-secondary);
  margin: 0 8px;
}

.twoDots {
  margin: 0 2px 0 3px;
}

