

.container {
  width: 100%;
  height: 25px;
  display: flex;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transition: transform 0.3s ease;
}





