

.container {
  display: flex;
  align-items: start;
  width: 180px;
  height: 30px;
}

.label {
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--font-color1);
  opacity: 0.6;
  font-size: 14px;
  padding-right: 10px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: start;
  width: auto;
  height: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: var(--font-color1);
  box-shadow: 0 0 2px rgba(255,255,255,0.2);
  transition: border 0.3s ease;
}

.inputs:focus-within {
  border: 1px solid rgba(255,255,255,0.2);
}
