

.container {
  position: relative;
  width: 200px;
  height: 100%;
  border-left: 1px solid var(--border-color);
  background-color: var(--bg-color1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}