

.container {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  user-select: none;
}

.container img {
  width: 100%;
  height: 100%;
}

