

.container {
  position: absolute;
  width: 200px;
  height: 100%;
  border-left: 1px solid var(--border-app);
  background-color: var(--bg-color1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 1;
  transition: right 0.3s ease;
}


