

.container {
  position: absolute;
  top: 170px;
  bottom: 0;
  right: 0;
  width: 200px;
  border-left: 1px solid var(--border-app);
  background-color: var(--bg-color1);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 1;
  transition: right 0.3s ease;
}


