

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 100%;
  padding: 0 5px 0 10px;
  border-radius: var(--radius-md);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-sidebar);
}

.container:hover {
  cursor: pointer;
  background-color: var(--board-bg-hover);
}

.container span {
  font-size: 14px;
  color: var(--font-primary);
  overflow: hidden;
  text-overflow: ellipsis;
}



.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
