


.container {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;  
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container:focus-visible {
  outline: none;
}
