



.container {
  width: 60px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: var(--radius-md);
  color: var(--font-modal);
  transition: var(--transition);
  border: var(--border-partly-transparent);
  cursor: pointer;
}

.buttonDanger:hover {
  background-color: var(--button-color-danger-hover);
  box-shadow: var(--sticker-button-boxshadow);
  border: var(--border-partly-transparent-focus);
}

.buttonNormal:hover {
  background-color: var(--button-color-normal-hover);
  box-shadow: var(--sticker-button-boxshadow);
  border: var(--border-partly-transparent-focus);
}