


.container {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: var(--radius-md);
  color: var(--font-modal);
  transition: var(--transition);
  border: var(--element-border-partly-transparent);
  cursor: pointer;
}

.buttonNormal {
  width: 70px;
}

.buttonDanger {
  width: 90px;
}

.buttonNormal:hover,
.buttonNormal:focus-visible {
  background-color: var(--element-bg-transparent);
  border: var(--element-border-partly-transparent-focus);
  outline: none;
}

.buttonDanger:hover,
.buttonDanger:focus-visible {
  background-color: var(--element-bg-danger-hover);
  border: var(--element-border-partly-transparent-focus);
  outline: none;
}