

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: var(--font-color4);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.stack {
  width: 150px;
  height: 150px;
  position: relative;
  box-shadow:
  0 2px 6px rgba(0, 0, 0, 0.6),
  0 1px 2px rgba(255, 255, 255, 0.05),
  0 0 0 1px rgba(255, 255, 255, 0.2);
}

.remainingStickers {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--sticker-color1);
  color: #ddd;
}

