.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newSticker {
  width: 150px;
  height: 150px;
  background-color: var(--sticker-color1);
  color: #ddd;
}

.newSticker:hover {
  cursor: pointer;
}

.heading {
  color: var(--font-color4);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}