

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 100%;
  padding: 0 5px 0 10px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color1);


}

.container:hover {
  cursor: pointer;
  background-color: var(--hover-color2);
}

.container span {
  font-size: 14px;
  color: var(--font-color2);
  overflow: hidden;
  text-overflow: ellipsis;
}

.container:hover span {
  color: var(--font-color3);
}



.editAndDots {
  display: flex;
  align-items: center;
  justify-content: center;
}
