

.container {
  height: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.user, 
.settings {
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 1;
}

.user {
  margin-right: 10px;
}
