

.container {
  width: 100%;
  height: 35px;
  display: flex;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
}

.content {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: transform 0.3s ease;
}





