



.container {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  transition: border 0.3s ease;
  position: relative;
  border: 1px solid transparent;
  padding: 15px 10px;
  border-radius: 5px;
}

.container img {
  width: 17px;
  height: 17px;
  margin-right: 7px;
}

.container span {
  color: var(--font-color4);
}

.container:hover,
.container:focus {
  border: 1px solid rgba(255,255,255,0.2);
}