

.container {
  width: 150px;
  height: 30px;
  position: absolute;
  top: -20px;
  left: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  cursor: grab;
  transition: transform 0.2s ease;
}

.image {
  height: 30px;
  width: 30px;
  transition: transform 0.2s ease;
}

.container:hover .image{
  transform: scale(1.1);
}

.image img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
