

.container {
  width: 150px;
  height: 30px;
  position: absolute;
  top: -25px;
  left: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  cursor: grab;
}

.image {
  height: 40px;
  width: 40px;
  z-index: 0;
}

.image img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}