

.container {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: background-color 0.1s ease;
}

.container img {
  width: 20px;
  height: 20px;
}

.container:hover,
.container:focus {
  border: 2px solid #333;
  background-color: rgb(15, 39, 7);
}