


.container {
  width: 100%;
  height: 22px;
  padding: 0 10px;
  color: var(--font-secondary);
  font-size: 13px;
  margin-top: 6px;
}

.container span {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 25px;
}