

.container {
  position: relative;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: var(--radius-md);
}

.container .input {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;  
  align-items: center;
}

.container .input input {
  width: 100%;
  height: 100%;
  color: var(--font-primary);
  background-color: transparent;
  padding-left: 20px;
  font-size: 14px;
  outline: none;
  border-radius: var(--radius-md);
  transition: var(--transition);
  border: var(--element-border);
}

.container .input input:focus,
.container .input input:focus-visible,
.container button:focus-visible {
  background-color: var(--element-bg-selected);
  border: var(--element-border-selected-header);
  outline: none;
}

.container .input input::placeholder {
  color: var(--font-placeholder);
}

.container button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;  
  align-items: center;
  cursor: pointer;
  padding-left: 15px;
  background-color: transparent;
  border: var(--element-border);
  border-radius: var(--radius-md);
}
