

.container {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
}

.container input {
  padding: 10px 20px;
  width: 100%;
  border-radius: var(--radius-lg);
  font-size: var(--font-size);
  outline: none;
  color: var(--font-color1);
  border: var(--input-border);
  background-color: var(--input-bg);
}

.container input:focus {
  border: var(--input-border-focus);
  background-color: var(--input-bg-focus);
  box-shadow: var(--input-shadow-focus);
}