

.container {
  position: relative;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  border: var(--input-border);
  border-radius: var(--radius-lg);
}

.container .input {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;  
  align-items: center;

}

.container .input input {
  width: 100%;
  height: 100%;
  color: var(--font-primary);
  background-color: transparent;
  padding-left: 10px;
  border: var(--border-transparent);
  font-size: 14px;
  outline: none;
  border-radius: var(--radius-lg);
  transition: var(--transition);
}

.container .input input:focus {
  border: var(--input-border-focus);
  background-color: var(--input-bg-focus);
  box-shadow: var(--input-shadow-focus);
}

.container .input input::placeholder {
  color: var(--font-placeholder);
}

.container .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;  
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}