

.container {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
}

.container input {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  font-size: var(--font-size);
  outline: none;
  background-color: var(--bg-color1);
  color: var(--font-color1);
}

.container input:focus {
  box-shadow: 0 2px 2px #555, 0 -2px 2px #555;
}