
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.darkTheme {
  --bg-color1: #0d0d0d;
  --bg-color2: #181818;
  --bg-color3: #000;
  --font-color1: #969696; 
  --font-color2: #eeeeee; 
  --font-color3: #1e1e1e;
  --font-color4: #666;
  --border-color: #363636;
  --hover-color1: #333;
  --hover-color2: #a9a9a9;
  --hover-color3: #222;
  --sticker-color1: #2b2100;
  --sticker-color2: #002c1d;
  --sticker-color3: #3a0018;
  --sticker-color4: #001e36;
  --sticker-color5: #3a1b00;
  --sticker-color6: #1d0036;
  --boardlist-delete-color: #701b1b;
  --boardlist-close-color: #274558;
}

.lightTheme {
  --bg-color1: #fff;
  --bg-color2: #e8ecee;
  --bg-color3: #fafafa;
  --font-color1: #646363; 
  --font-color2: #3b3b3b; 
  --font-color3: #f9fbfc;
  --font-color4: #919191;
  --border-color: #aaa;
  --hover-color1: #ddd;
  --hover-color2: #646363;
  --hover-color3: #ddd;
  --sticker-color1: #f6d96b;
  --sticker-color2: #89f7c2;
  --sticker-color3: #ffb7d9;
  --sticker-color4: #91c8ff;
  --sticker-color5: #ffc68a;
  --sticker-color6: #d2b3ff;
  --boardlist-delete-color: #dec2c2;
  --boardlist-close-color: #bcd0dd;
}


