


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.darkTheme {
  --bg-color1: #0d0d0d;
  --bg-color2: #181818;
  --bg-color3: #000;
  --font-color1: #969696; 
  --font-color2: #eeeeee; 
  --font-color3: #1e1e1e;
  --font-color4: #666;
  --font-color5: #999;
  --font-color6: #666;
  --border-color: #363636;
  --border-color2: #555;
  --hover-color1: #333;
  --hover-color2: #a9a9a9;
  --hover-color3: #222;
  --sticker-color1: #2b2100;
  --sticker-color2: #002c1d;
  --sticker-color3: #3a0018;
  --sticker-color4: #001e36;
  --sticker-color5: #3a1b00;
  --sticker-color6: #1d0036;
  --boardlist-delete-color: #701b1b;
  --boardlist-close-color: #274558;
  --border-app: rgba(255,255,255,0.1);
}

.lightTheme {
  --bg-color1: #fff;
  --bg-color2: #e8ecee;
  --bg-color3: #fafafa;
  --font-color1: #646363; 
  --font-color2: #3b3b3b; 
  --font-color3: #f9fbfc;
  --font-color4: #919191;
  --font-color5: #111;
  --font-color6: #eee;
  --border-color: #aaa;
  --border-color2: #777;
  --hover-color1: #ddd;
  --hover-color2: #646363;
  --hover-color3: #ddd;
  --sticker-color1: #f6d96b;
  --sticker-color2: #89f7c2;
  --sticker-color3: #ffb7d9;
  --sticker-color4: #91c8ff;
  --sticker-color5: #ffc68a;
  --sticker-color6: #d2b3ff;
  --boardlist-delete-color: #dec2c2;
  --boardlist-close-color: #bcd0dd;
}







/* react day picker */

.rdp-day {
  font-size: 12px;
  font-weight: bold;
  color: var(--font-color1);
  width: 30px;
  height: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding-bottom: 2px;
}

.rdp-day:hover {
  background-color: var(--hover-color1);
}

.rdp-month {
  padding: 5px 20px;
  background-color:#0d0d0d;
  width: 100%;
  height: 250px;
}

.rdp-month_caption {
  height: 30px;
}

.rdp-weekday {
  font-size: 11px;
} 

.rdp-caption_label {
  padding: 10px;
  height: 26px;
  font-size: 14px;
}

.rdp-nav {
  height: 40px;
  height: 26px;
  margin-top: 5px;
}

.rdp-button_previous {
  width: 30px;
}

.rdp-button_next {
  width: 30px;
  margin-right: 20px;
}

.rdp-chevron {
  fill: var(--font-color2);
  width: 16px;
}

.rdp-chevron:hover {
  transform: scale(1.3);
  transition: transform 0.1s ease;
}






