

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-md);
  background-color: var(--bg-sidebar);
  transition: all 0.1s ease;
}

.container > :first-child {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--font-secondary);
  outline: none;
  border-radius: var(--radius-md);
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: var(--font-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.container:hover {
  cursor: pointer;
  background-color: var(--board-bg-hover);
}

.container > :first-child:focus {
  border: var(--input-border-focus);
  box-shadow: var(--input-shadow-focus);
}

.container input:focus {
  border: var(--input-border-focus);
  box-shadow: var(--input-shadow-focus);
}

.container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}









