

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-md);
  background-color: var(--bg-sidebar);
}

.container > span,
.container > input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--font-secondary);
  outline: none;
  border-radius: var(--radius-md);
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: var(--font-modal);
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.container > span:hover {
  color: var(--font-primary);
}

.container:hover {
  cursor: pointer;
  background-color: var(--board-bg-hover);
}

.container > :first-child:focus {
  border: var(--input-border-focus);
  box-shadow: var(--input-shadow-focus);
}

.container input:focus {
  background-color: var(--board-bg-hover);
  border: var(--input-border-focus);
  box-shadow: var(--input-shadow-focus);
}

.container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: var(--board-bg-hover);
}

.selected > span {
  color: var(--font-primary);
  font-weight: 600;
}






