

.containerName {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-sidebar);
}

.containerInput {
  width: 100%;
}

.containerName .name,
.containerInput > input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--font-secondary);
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: var(--font-modal);
  overflow: hidden;
  text-overflow: ellipsis;
  border: var(--element-border-transparent);
}

.containerName .name {
  margin-right: 15px;
  margin-left: 20px;
}

.containerName .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerInput > input {
  padding-left: 20px;
}

.containerName:hover,
.containerInput:hover {
  color: var(--font-primary);
  cursor: pointer;
  background-color: var(--element-bg-hover);
}

.containerInput > input:focus {
  background-color: var(--element-bg-selected);
  border: var(--element-border-selected-sidebar);
}



.selected {
  background-color: var(--element-bg-selected);
}

.selected .name {
  color: var(--font-primary);
}






