

.container {
  width: 100%;
  background-color: var(--bg-color2);
  flex: 1;
  min-height: 0;
}

.board {
  position: relative; 
  height: 100%;
}

.search {
  padding: 10px 10px 100px 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-content: flex-start;
}

.filter {
  padding: 10px 10px 100px 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-content: flex-start;
}