

.container {
  display: flex;
  align-items: center;
  height: 40px;
}

.filterIcon {
  display: flex;
  color: var(--icon-color);
  margin-right: 10px;
}


.allDated,
.nextDaysDated {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  border: var(--input-border);
  border-radius: var(--radius-md);    
}

.nextDaysDated {
  position: relative;
  margin-left: 10px;
}