

.container {
  display: flex;
  align-items: center;
  height: 40px;
}

.container .filterIcon {
  display: flex;
  color: var(--icon-color);
  margin-right: 10px;
}

.container .filterElements {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  border: var(--input-border);
  border-radius: var(--radius-md);
}

.divider {
  width: 1px;
  height: 60%;
  background-color: rgba(255,255,255,0.15);
}

