

.container {
  width: 100%;
  flex: 1;      
  min-height: 0;
  display: flex; 
  flex-direction: column;
  padding-top: 50px;
}

.header {
  color: var(--font-color4);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}


