

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 180px;
  height: 120px;
}

.oneColor {
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255,255,255,0.2);
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid transparent;
}

.oneColor:hover {
  transform: scale(1.15);
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid rgba(255,255,255,0.2);
  transition: border 0.3s ease;
}