


.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  box-shadow: var(--sticker-boxshadow);
}


.board {
  position: absolute;
}

.search {
  position: relative;
  margin: 15px;
}

.filter {
  position: relative;
  margin: 15px;
}

