

.container {
  width: 100%;
  flex: 1;
}

.textarea {
  width: 100%;
  height: 100%;
}

.textarea textarea,
.span span {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  padding: 5px 10px;
  font-size: 14px;
  color: var(--font-sticker-primary);
  font-weight: 300;
  border-left: 3px solid transparent;
  transition: var(--transition);
}

.shadowTopBottom {
  box-shadow: var(--sticker-note-boxshadow-top-bottom);
}

.shadowBottom {
  box-shadow: var(--sticker-note-boxshadow-bottom);
}

.textarea textarea::placeholder {
  color: var(--font-partly-transparent);
}

.textarea textarea:focus {
  border-left: var(--border-left-sticker-focus);
}

.addPaddingBottom {
  padding-bottom: 40px;
}