

.container {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.container img {
  width: 21px;
  height: 21px;
}

.container:hover {
  transform: scale(1.2);
}