

.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.container img {
  width: 70px;
  margin-right: 5px;
}

.container span {
  font-size: 20px;
  font-weight: bold;
  color: var(--font-color1);
}