


.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 150px;
}


.container .heading {
  position: absolute;
  left: 70px;
}

.container .heading h1 {
  font-size: 13px;
  color: var(--font-placeholder);
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1.1;
}