
.container {
  position: absolute;
  top: 130px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: bottom 0.3s ease;
}
