

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  user-select: none;
}

.content {
  width: 500px;
  border: var(--app-border-soft);
  background-color: var(--bg-modal);
  padding: 30px;
  box-shadow: var(--modal-boxshadow);
}

.messages {
  color: var(--font-modal);
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 70px;
}

.button {
  width: 100px;
  padding: 10px 0;
  background-color: var(--element-bg-transparent);
  border-radius: var(--radius-md);
  color: var(--font-modal);
  border: none;
  font-size: 14px;
  transition: var(--transition);
  border: var(--element-border);
  cursor: pointer;
}

.button:hover {
  color: var(--font-primary);
  border: var(--element-border-transparent);
  background-color: var(--element-bg-hover);
}

.danger:hover {
  background-color: var(--element-bg-danger-hover);
}
